Celebrity Data Work/ActorDataSchema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:byte" name="Count"/>
              <xs:element type="xs:byte" name="Degree"/>
              <xs:element type="xs:short" name="MedianYear"/>
              <xs:element type="xs:byte" name="MedianRank"/>
              <xs:element type="xs:short" name="MeanYear"/>
              <xs:element type="xs:float" name="MeanRank"/>
              <xs:element type="xs:float" name="DegreeYear"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
