Celebrity Data Work/ActorDataSchema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
  <xs:element name="actorData">  
    <xs:complexType>
      <xs:sequence> 
        <xs:element name="actor" maxOccurs="unbounded" minOccurs="0"> 
          <xs:complexType>  
            <xs:sequence> 
              <xs:element type="xs:string" name="Name"/> 
              <xs:element type="xs:float" name="Count"/> 
              <xs:element type="xs:float" name="Degree"/> 
              <xs:element type="xs:float" name="MedianYear"/> 
              <xs:element type="xs:float" name="MedianRank"/> 
              <xs:element type="xs:float" name="MeanYear"/> 
              <xs:element type="xs:float" name="MeanRank"/> 
              <xs:element type="xs:float" name="DegreeYear"/> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType>
  </xs:element>
</xs:schema>
